<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/fisc.png">
    </a>
    <h4>PREPÁRATE PARA DAR SOLUCIONES TECNOLÓGICAS</h4>
    <p>By. CARLOS JAVIER MAYORGA</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/carlosmayorga"><span class="glyphicon glyphicon-share"></span> GitHub Carlos</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      <b>Keep-It-Simple</b> - NO ES TAN COMPLICADO
  </div>
  <hr>
  <div class="row"> <!-- row -->
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Objetivo general</h3>
      <ul>
        <p class="paraph">Conversar sobre los retos y exigencias del mercado, y por consecuencia 
          la importancia que tiene el prepararnos para ser arquitectos de soluciones.</p>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Continuous Deployment</h3>
      <ul>
        <li>Github</li>
        <li>CircleCi</li>
        <li>Heroku</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
